@import "tailwindcss";

html,
body {
  overflow-x: hidden;
  min-height: 100%;
}

body {
  background-image: url("/bg.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}